.AppHeader {
  color: #c34e53;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.Footer {
  font-size: 10px;
  text-align: center;
  color: #7a757d;
}

.Footer a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.Footer a:hover {
  font-size: 10.5px;
  text-decoration: none;
}

.Results,
.Photos {
  background-color: white;
  padding: 50px 8% 0 8%;
}
