.Dictionary section {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 0.2 solid #ced4da;
}

.Dictionary input,
.icon {
  border-radius: 6px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.icon {
  margin-left: 10px;
}

.Search-btn {
  outline: none;
  border-style: none;
}

.form-control:focus {
  border-color: #ced4da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 255, 255, 0);
}

input::-ms-clear {
  display: none;
}
